.titulo {
    color: white;
    margin: 0;
    padding: 10px;
    background-color: red;
}
   
.container {
    text-align: start;
    color: white;
    background-color: rgb(48, 46, 46);
    padding: 300px;
   }